@CHARSET "utf-8";
/*
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanumbrushscript.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothiccoding.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanummyeongjo.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanumpenscript.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothiccoding.css);
*/
/*
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
*/

 
 


/** * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/) * http://cssreset.com */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
 footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.5;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* === ì—ë¦­ë§ˆì´ì„œ ë¦¬ì…‹ ì¢…ë£Œ === */




body { 
	font-family:  /* 'Nanum Brush Script', 'Nanum Gothic',  'êµ´ë¦¼', 'Gulim',  *//*  'Nanum Pen Script',  */ /* 'Nanum Gothic Coding',  */'ë‹ì›€', 'Dotum', 'Segoe UI', 'ARIAL', 'sans-serif', 'tahoma';
	font-size:13px; 
	color:#333333;
	background: #545454 url(/img/pattern/green_cup.png);
}
html, body{
	height:100%;
}
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
.clearfix {
	display: inline-block;
}
* html .clearfix {
	height: 0;
}
.clearfix {
	display: block;
}

a, a:link, a:active, a:visited {text-decoration:none; color:inherit;}
a:hover { text-decoration:none; color:inherit;}


a.btn{
	display: inline-block;
    padding: 3px 8px 1px 8px;
    line-height: 15px;
    border: 1px solid #555;
    border-radius: 2px;
    text-align: center;
    margin: 1px 5px;
    white-space: nowrap;
    text-shadow: -1px -1px 0px #5a5a5a;
    color: #f2f2f2;
    font-family: 'ë‹ì›€','dotum','Segoe UI','tahoma','ARIAL';
    vertical-align: middle;
    background-color: #6D6A6A;
}
button.btn-search,
a.btn-search{
	display: inline-block;
    padding: 3px 8px 1px 8px;
    line-height: 28px;
    border: 1px solid #555;
    border-radius: 2px;
    text-align: center;
    margin: 1px 5px;
    white-space: nowrap;
    text-shadow: -1px -1px 0px #5a5a5a;
    color: #f2f2f2;
    font-family: 'ë‹ì›€','dotum','Segoe UI','tahoma','ARIAL';
    vertical-align: middle;
    background-color: #6D6A6A;
	cursor:pointer;
}






.b600{font-weight: 600;}
.b800{font-weight: 800;}
.b900{font-weight: 900;}
.bold{ font-weight:bold; }
.ta_center { text-align:center; }
.ta_right { text-align:right; }
.textcut{
	word-wrap: normal;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	vertical-align:middle;
}
input[type='checkbox']{
	vertical-align:middle;
}
input[type='text']{
	/* padding-left:5px;
	padding-right:5px; ë„“ì´ì¡°ì •ì„ ë‹¤ì‹œ ë‹¤ í•´ì•¼í•¨..*/
}

img{
	vertical-align:middle;
}
textarea{
	resize:none;
}

.onlynumfloat{
	padding-right:3px; 
	text-align:right;
}
.navi{
	font-size:14px; 
	color:#545454;
}
p.tbl_top_comment{ border:1px solid green; margin-top:15px; background-color:#E9FDE2; line-height:25px; padding:5px 5px; border-bottom:none; } 

/* ======
ë ˆì´ì•„ì›ƒ ì‹œìž‘  */

#tnb{
	color:white;
	background: white url(/img/pattern/hexabump.png); 
	height:50px;
}
#wrap { position:relative; min-width:1350px; min-height:100%; } /* 1100 + 200 + íŒ¨ë”© */

#gy_container{
	position:relative;
}
#gy_container .menu{
	position:absolute; left:0; top:0; width:200px;
}

#lmenu{
	position:absolute; left:0; top:0; width:200px;
}
#lmenu .lmenu_wrap{ color:#e8e8e8; }

#lmenu .lmenu_wrap .mtitle{
	 border-left: 6px solid cyan; background-color:#2F2F2F; line-height:26px; padding:5px 8px; text-align:left; margin-top:10px;
}
#lmenu .lmenu_wrap .tree_wrap{
	padding:0 5px 0 0; color:#000;
}

.tree_wrap .tree_container{
    border-radius: 0;
    background: #F0EABE;
    border-left: 7px solid #B2F1F1;
    padding:10px;
    
}
    
/* ë ˆì´ì•„ì›ƒ  ë 
========== */





.listwrap{
	margin-top:20px;
	padding-bottom:150px;
}

#searchbox_wrap{margin-bottom:20px}
#searchbox_wrap div.searchbox { border:2px solid #eeeeee; background:white; border-radius:2px; padding:15px 20px }
#searchbox_wrap div.searchbox select{ 
	height:36px;
	padding:8px 5px;
	line-height:36px;
	vertical-align:middle; 
}
#searchbox_wrap div.searchbox input{ 
	height:30px;  line-height:30px; padding-left:8px;
	vertical-align:middle; 
}
#searchbox_wrap div.searchbox input.calpopup{ padding-left:inherit; }

.listwrap table{
	font-size:12px;
	/* border: 1px solid gray; */
}
.listwrap table tr{
	border-bottom:1px solid #A7A7A7;
}
.listwrap table tr:hover{
	background-color: #D0D0D0;
	cursor:pointer;
}
.listwrap table td{
	vertical-align:middle;
	height:35px;
	padding:4px 4px;
	text-align:center;
	border-right:1px solid #A7A7A7;
}

.listwrap table td:first-child{
	border-left:1px solid #A7A7A7;
}
.listwrap table th{
	line-height:45px;
	height:45px;
	background-color:#efefef;
	text-align:center;
	border-right:1px solid gray;
	border-bottom:1px solid #404040;
	border-top:3px solid #404040;
	font-weight:bold;
	vertical-align:middle;
}
.listwrap table th:first-child{
	border-left:1px solid gray;
}



.listwrap .page{
	text-align:center;
	padding: 10px 0; 
}



/*========================
 ê³„ì•½ì„œ ë“±ë¡ ë³¸ë¬¸ ì‹œìž‘ ==*/

#gy_content_wrap{
	position:relative; 
	/* position:absolute; */
	top:0;
	bottom:0;
	left:0;
	right:0;
	
	 
	margin-left:200px; 
	border-left: 1px solid #848484; 
	background-color:white; 
	min-height:700px;
	background: #545454 url(/img/pattern/crossword.png);
	
	padding-bottom: 100px;
	padding-left: 20px;
	padding-right: 20px;
	
}
.content_top{
	padding:20px 0;	
}
.content_top_title{
	padding:20px 0 10px 0; border-bottom:1px solid #E6B1B1;	
}
.content_top_title > h1{	
	float:left; font-size:19px; font-weight:bold; border-left:13px solid #C74C4C; padding-left:10px; letter-spacing:2px;
}
.rform{
	width:900px;
	/* margin:0 auto; */
}
.rform span.comment{
	color: #0000B5;
	font-size:13px;
}



.rform_top{
	 border:2px solid #E6E6E6; background-color:#efefef; padding:10px;
	 margin-bottom:20px;
}

.rform_top p{
	height:40px; 
	line-height:40px;
}
.rform_top span.title{
	font-size:15px;
	font-weight:bold;
	display:inline-block;
	padding-right:7px;
	width:120px; 
	text-align:right;
}
.rform_top input{
	height:30px; 
	line-height:30px;
	background-color:white;
	border:1px solid #B0B0B0;
	padding-left:5px;
}
.rform_top select{
	height:36px; 
	line-height:36px;
	padding:8px 5px;
	vertical-align:middle;	
	background-color:white;
	border:1px solid #B0B0B0;
}







#rform_body{
	position:relative;
	border:1px solid gray; 
	padding:3px;
	padding-bottom:20px;
	background-color:white;
}
#rform_body .main_title{
	/* height:40px; */ 
	background-color:#383838; 
	color:white; 
	text-align:center; 
	/* line-height:40px; */
	font-size:18px; 
	font-weight:900;
	padding:12px 0;
}
#rform_body .main_title_desc{
	text-align:center; 
	font-weight:bold; 
	padding:5px 0;
}
#rform_body .main_title_desc2{
	border:1px solid gray; padding:8px; font-size:14px; font-weight:bold;
}

#rform_body .tab{
	cursor:pointer;
	position:absolute; 
	left:-1px;  
	top:-32px; 
	width:100px; 
	text-align:center; 
	border-left:1px solid #CECECE; 
	border-right:1px solid #CECECE; 
	border-top:1px solid #CECECE; 
	border-bottom:1px solid gray;
	background-color:#efefef;  
	height:30px; 
	line-height:30px; 
}
#rform_body .tab_active{
	border-bottom:1px solid white; 
	border-left:1px solid green; 
	border-right:1px solid green; 
	border-top:1px solid green; 
	background-color:white;
	font-weight:bold;
	color:green;
}





#rform_body .body{
	padding-left: 16px;
	padding-right: 16px;
	padding-bottom:30px;
}
#rform_body .body p.title{
	font-size: 16px;
	font-weight:bold;
	padding-top:45px;
	padding-bottom:3px;
}
#rform_body .body p.title > select{ 
	height:30px; 
	line-height:30px;
	padding:3px;
	vertical-align:middle; 
	}

#rform_body .body table{
	width:860px; 
	border: 1px solid gray;
}
#rform_body .body table tr{
	border-bottom:1px solid gray;
}
#rform_body .body table td{
	padding:2px 5px;
}


/* í‘œì¤€ìž„ëŒ€ì°¨ê³„ì•½ì„œ ê´€ë ¨ */
#rform_body .body div.cate04{ padding:0 10px; }
#rform_body .body div.cate04 table{ border: none; }
#rform_body .body div.cate04 table tr{ border: none; }
#rform_body .body div.cate04 table td{ border: none; }
#rform_body .body div.cate04 table td:first-child{ padding-left: 20px; width:200px}
#rform_body .body div.cate04 table select{ 
	height:25px; 
	line-height:25px;
	vertical-align:middle;
	padding:3px;
	font-size:12px 
}

#rform_body .body div.cate04_2 table td{ border-right:1px solid gray; height:30px; line-height:30px;}
/*#rform_body .body div.cate04_2 table input[:not radio]{ height:22px; line-height:22px; }*/
#rform_body .body div.cate04_2 table input{ height:22px; line-height:22px; }

#rform_body .body div.cate04_2 table.inner_tbl td{ height:25px; line-height:25px;}




#rform_body .body table th{
	background-color:#c9c9c9;
	text-align:center;
	border-right:1px solid gray;
	border-left:1px solid gray;
}
#rform_body .body table input{
	line-height:22px;
	height:22px;
	width:98%;
}

#rform_body .body table input[type="radio"]{
	height:auto;
	width:auto;
}
#rform_body .body table input[type="checkbox"]{
	height:auto;
	width:auto;
}

#rform_body .body table select{
	height:28px;
	line-height:28px;
	padding:3px; 
	width:98%;
}
#rform_body .body table a.btn_in{
	display: inline-block;
	height:22px;
    padding: 6px 3px 1px 3px;
    line-height: 15px;
    border: 1px solid #555;
    border-radius: 2px;
    text-align: center;
    white-space: nowrap;
    text-shadow: -1px -1px 0px #5a5a5a;
    color: #f2f2f2;
    font-family: 'ë‹ì›€','dotum','Segoe UI','tahoma','ARIAL';
    vertical-align: middle;
    background: linear-gradient(to bottom, #858585 0%,#696969 50%,#424242 51%,#8f8f8f 100%);
}



#rform_body .hidden_item{
	display:none;
}
#hidden_item_desc{
	margin-top:10px; border: 1px dashed #E6E6E6; text-align:center;background: url(/img/pattern/crossword.png); padding:7px;
}



#special_agree{ padding: 5px;border: 1px solid #C0C0C0;background-color: #FAF9F9; }
#special_agree .agree_wrap{ background-color: white; border: 1px solid #eeeeee; }
#special_agree .agree_wrap textarea{ width: 835px;height: 210px;background-color: white;padding: 5px; border:none; }
#special_agree .agree_wrap p{ width:835px; padding:5px; color:#E90808; font-weight:500 } 

#gy_date_wrap{ position:relative; margin-bottom:10px;padding-bottom:6px; }
#gy_date_wrap > p{ padding-top:10px; padding-left:8px; }
#gy_date_wrap > div{ position:absolute; right:0; top:7px; }






#table_medo2_btn, #table_mesu2_btn, #table_agent2_btn{
	text-align:right; position:relative;
	display:none;
}


div.noitem{
	position:relative;
	font-size: 14px;
    line-height: 28px;
    padding-left: 10px;
    padding-bottom:5px;
	line-height:23px;
}
div.noitem > label{
	position:absolute; 
	top:0; 
	left:0; 
	padding-left:14px;
	line-height:26px;
}
div.noitem > p{
/* 	padding-left:60px; */
    left: 55px;
    position: relative;
    width: 800px;
    padding: 2px 5px;
}
div.noitem > p.bunyang{
/* 	padding-left:60px; */
    left: 25px;
    position: relative;
    width: 830px;
    padding: 2px 5px;
}


.price_display{
	position: absolute;
    right: 0;
    top: 18px;
    font-size:13px; 
    background-color: #B4D5F5;
    padding: 2px 5px;
    border: 1px solid rgb(123, 168, 187);
    color: #0000B5;
}
.price_display:hover{
    color: #036700;
}
/*======================== 
ê³„ì•½ì„œ ë³¸ë¬¸ ë ==*/
	
    

/*======================== 
í™•ì¸ì„¤ëª…ì„œ ì‹œìž‘  ==*/
table.tbl_confirm {margin-top:7px;}
table.tbl_confirm th{ vertical-align:middle; }
table.tbl_confirm td{ vertical-align:middle; line-height:30px }
table.tbl_confirm textarea{ display:block; margin:0 auto; }



table.tbl_confirm input.gy_data{ background-color: #F5FAB0; border:1px solid #C5BD9F; padding-left:2px; }

/*======================== 
í™•ì¸ì„¤ëª…ì„œ ë ==*/
	


/*======================== 
ê³ ê°ê´€ë¦¬ ì‹œìž‘  ==*/
table.tbl_cust {margin-top:7px;}
table.tbl_cust th{ vertical-align:middle; line-height:30px }
table.tbl_cust td{ vertical-align:middle; line-height:30px }
table.tbl_cust textarea{ display:block; margin:0 auto; }
table.tbl_cust input{ padding-left:5px; }



table.tbl_cust input.gy_data{ background-color: #F5FAB0; border:1px solid #C5BD9F; }

/*======================== 
ê³ ê°ê´€ë¦¬ ë ==*/
	



.calpopup{ 
	background-color:#eeeeee; 
	border:1px solid gray;
	letter-spacing:1px;
	cursor:pointer;
	
	text-align:center;
	height:22px; 
	line-height:22px;
	/* text-align:left; 
	background-image:url('/img/icon/search.png');
	background-repeat:no-repeat;
	background-position: right;
	padding-left:5px; */
	/* ì˜¤ë¥¸ìª½ ì´ë¯¸ì§€ ë„£ì„ ê²½ìš° widthë¥¼ 85pxë¡œ ë³€ê²½í•´ì•¼ í•œë‹¤. */
}

.calduration{ 
	height:22px;
	line-height:22px; 
	background-color:#eeeeee; 
	border:1px solid gray;
	text-align:center;
}




#jstree li.active{ color:red; }


/*=========================
ì„¤ì •í™”ë©´ ì‹œìž‘ ==*/
.folder_wrap{	float:left; width:200px; border:1px solid #eaeaea; background-color:#FAFAFA;  padding:20px 25px; min-height:250px;}


ul.folder_items{
	
}
ul.folder_items li{
	padding-left:8px;
	border:1px solid green;
	height:30px; 
	line-height:30px;
	margin-bottom:3px;
	border-radius:0px;
	background-color:white;
	border-left:5px solid green;
}
ul.folder_items li:hover{
	background-color:#7ED66C;
	cursor:pointer;
	background-image:url(/img/updown_arrow.png);
	background-size: 25px 25px;
    background-repeat: no-repeat;
    background-position:right;
}
ul.folder_items li.active{
	background-color:green;
	cursor:pointer;
	color:white;
}

div.config_tabmenu{
	border-bottom:2px solid gray; padding:5px 0 2px 0; margin-bottom:15px; 
}
div.config_tabmenu span{
	display:inline-block; 
	width:120px; 
	height:30px; 
	line-height:30px; 
	cursor:pointer; 
	border-radius:3px; 
	text-align:center; 
	background-color:#efefef; 
	border:1px solid gray; color:black; padding:5px 10px; margin-right:6px 
}

div.config_tabmenu span.active{
	 background-color:green; 
}


/* ì„¤ì •í™”ë©´  ë 
========== */



/*======================
ì˜¤ë¥¸ìª½ í€µë°”
*/
#quickbar{ 
	position:absolute; top:-125px; right:-220px;
}
#quickbar_wrap{
	width: 200px;background-color: whitesmoke;border: 4px solid #006900;border-radius: 6px;
	-webkit-box-shadow: 9px 6px 25px -5px rgba(0,0,0,0.75);
	-moz-box-shadow: 9px 6px 25px -5px rgba(0,0,0,0.75);
	box-shadow: 9px 6px 25px -5px rgba(0,0,0,0.75);

}
#quickbar_wrap .quickbar_container{padding:10px;}
#quickbar_wrap .quickbar_container p.title{text-align: center;padding-bottom: 3px;border-bottom: 2px solid #839CD7; margin-bottom:10px; font-size:15px; font-weight:bold; color:#1D4F8D}
#quickbar_wrap .quickbar_container p.item{position:relative;}
#quickbar_wrap .quickbar_container p.item > span.stat{ position:absolute; right:5px; }
#quickbar_wrap .quickbar_container textarea{ width:165px; height:60px; padding:5px; font-size:14px; } 

#quickbar .button_wrap{
	margin-top:10px; 
}


.button_wrap div.bigbtn{
	border: 2px solid #37C837;
    border-radius: 3px;
    text-align: center;
    margin-top:5px;
    background-color: #BADF8C;
    color: #021C24;
    font-size: 15px;
    line-height: 35px; 
    cursor:pointer;

}
.button_wrap div.bigbtnhover:hover{
	border: 2px solid #37C837;
    background-color: green;
    color: #F1F1F1;
    font-weight:bold;
    -webkit-box-shadow: 9px 8px 12px -10px rgba(9,69,0,0.85);
	-moz-box-shadow: 9px 8px 12px -10px rgba(9,69,0,0.85);
	box-shadow: 9px 8px 12px -10px rgba(9,69,0,0.85);
}

#print-layer{
	display:none; padding: 10px; text-align: left;font-size: 13px;line-height: 25px;background-color: rgb(129, 197, 133);border-top: 1px solid #06B506;
	cursor:auto;
}
    
									    




.btn_confirm {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  font-family: Arial;
  color: #ffffff;
  font-size: 14px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn_confirm:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}



.modal_bd{
	display:none; position:fixed; top:0; bottom:0; left:0; right:0; background-color:black; opacity:0.7; z-index:90;
}
.modal_container{
	display:none; 
	position:fixed; 
	left:50%; 
	top:50%; 
	width:600px; 
	/* height:400px;  */
	margin-top:-200px;  
	margin-left:-300px; 
	background-color:white; 
	border-radius:3px; 
	z-index:91; 
	-webkit-box-shadow: 9px 7px 25px 3px rgba(77,77,77,1);
	-moz-box-shadow: 9px 7px 25px 3px rgba(77,77,77,1);
	box-shadow: 9px 7px 25px 3px rgba(77,77,77,1);
}

.pop-save-wrap{ position:relative; padding:10px; }


